<!DOCTYPE html>
<html ng-app="fiveApp">
  <head>
    <meta charset="utf-8">
    <title>Five in a Row</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body ng-controller="FiveController as vm">
    <div class="board">
      <div class="row" data-ng-repeat="row in vm.board[0].rows" id="{{$index}}">
        <div class="cell" data-ng-repeat="cell in row.cells track by $index" data-ng-click="vm.move(cell, $parent.$index, $index)" id="{{$index}}">
          {{cell}}
        </div>
      </div>
    </div>
    <button ng-click="vm.newGame()" name="Create">New Game</button>
  </body>
</html>
