body {
  font-family: monospace;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #888;
  width: 30px;
  height: 30px;
  background: #eee;
}

.cell:active {
  background: #ddd;
}
